.title{
    font-size: 40px;
}
h1 {
    padding:10px;
}
section{
    margin:50px 0;
}
#dom {
    border: 3px solid rgba(22, 134, 240, 0.993); border-radius: 30px;
  }
  #button {
    max-width: 1400px;
    justify-content: flex-end;
  }
.carousel-item img{
    width: 70%;
    height: 430px;
    margin: 0 auto;
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:0px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  @media screen and (max-width:768px){
    .title {
        font-size: 25px;
    }
    .card{
        width:70%;
        margin: 0 auto 30px;
    }
    .carousel-item img{
        width: 100%;
        height: 370px;
        margin: 0 auto;
    }
    h1{
        padding: 30px;
    }
    .team img{
      width:80%;
  }
  }
  @media screen and (max-width:576px){
    .card{
        width:100%;
        margin: 0 auto 30px;
    }
    .card img{
        height: 280px;
    }
    h1{
        padding: 30px;
    }
    .team img{
      width:30%;
  }
  }
  .team{
    margin: 2em 0;
    position: relative;  
   }
   .team .item{
    position: relative;
   }
   .team .des{
    background: #0526e1;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
    margin-bottom: 5%;
   }
   .team .item:hover .des{
    height: 100%;
    background:#004ff97d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }